/* Header */
.index-body {
  margin: 0 2vw;
  overflow-x: scroll;
}

.nav-list {
  height: 10vh;
  padding-left: 0;
  list-style: none;
}

header nav {
  position: relative;
  z-index: 10;
  background-color: $black;
}

.nav-bar {
  list-style: none;
}

.nav-bar-list {
  position: fixed;
  left: -102vw; // changes to 0 with Js when burger icon is clicked
  z-index: 10;
  flex-direction: column;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  text-align: center;
  list-style: none;
  background-color: $black;
  border-bottom: .1px solid $red;
  transition: .4s;

  .nav-bar-element {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.nav-bar-list.active {
  left: 0;
}

.mobile-menu-text {
  position: relative;
  z-index: 11;
  width: 96vw;
}

.menu-icon {
  margin-bottom: 0;
  font-family: $secondary-font;
  cursor: pointer;
}

.menu-icon.active {
  color: $red;
  text-decoration: line-through;
}

.scroll {
  font-family: $main-font;
  opacity: 50%;
}

/* Headliner */
.headliner-div {
  border-right: none;
  border-left: none;
}

#top-menu {
  display: none;
}

#bottom-menu {
  display: none;
}

#second-menu {
  display: block;
  width: 100vw;
}

.cover {
  z-index: 0;
  width: 70vw;
}

.cover-text {
  z-index: 1;
  width: 525px;
  width: 95vw;
}

@include media-breakpoint-up(sm) {
  .cover {

    max-width: 400px;
  }

  .cover-text {
    max-width: 550px;
  }
}
@include media-breakpoint-up(md) {
  .cover {
    width: 40vw;
    max-width: 800px;
  }

  .cover-text {
    width: 55vw;
  }
}
@include media-breakpoint-up(lg) {
  .headliner-div {
    height: 80vh;
    border-right: 1px solid $red;
    border-left: 1px solid $red;
  }

  .line {
    height: 1px;
    content: "";
    background-color: $red;
  }

  #top-menu {
    padding-left: -2vw;
  }

  #bottom-menu {
    padding-left: -2vw;
  }

  #second-menu {
    width: 100vw;
  }

  .cover {
    width: auto;
    max-height: 60vh;
  }

  .cover-text {
    max-height: 80vh;
  }
}

/* About */
.img-1 {
  z-index: 0;
  width: 70%;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.about-text {
  width: 95%;
  text-align: justify;
}

@include media-breakpoint-up(md) {
  .img-1 {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    transform: rotate(-90deg);
  }

  .about-text {
    padding-right: 10vh;
  }
}
@include media-breakpoint-up(lg) {
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .img-1 {
    max-width: 80vh; //calulated with h units due to rotation
  }
}

/* Projects */
.accordion-inner {
  padding-bottom: 20px;
}

.project-title {
  margin-bottom: .5rem;
  word-wrap: break-word;
  border-top: .1px solid $white;

  a {
    font-size: $font-s;
    color: $white;
  }
}

.project-title:hover {

  border-top: .1px solid $red;

  a:hover {
    color: $red;
  }
}

.project-img {
  display: flex;
  align-content: center;
  justify-content: center;

  picture {
    width: 95%;
    text-align: center;

    img {
      width: 80vw;
      filter: grayscale(1);
      transition: filter .5s, transform .5s;
    }

    img:hover {
      filter: grayscale(0);
      transform: scale(1.02);
    }
  }
}

@include media-breakpoint-up(md) {
  .project-title {
    a {
      font-size: $font-mm;
    }
  }

  .project-text {
    width: 80%;
    max-width: 780px;
  }

  .project-img {
    img {
      max-width: 780px;
    }
  }
}

/* Contact */
#contact {
  height: 50vh;
}

.img-4 {
  bottom: 0;
  width: 90vw;
  margin-left: 3vw;
}

@include media-breakpoint-up(md) {
  .img-4 {
    bottom: 0;
    width: 50vw;
    margin-left: 23vw;
  }
}
@include media-breakpoint-up(lg) {
  #contact {
    height: 40vh;
  }
}
