* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: $white;
  background-color: $black;
}

h1,
h2,
h3 {
  font-family: $secondary-font;
}

h2 {
  font-size: $font-s;
  font-weight: 600;
  color: $red;
}

h3 {
  font-size: $font-m;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: $main-font;
  font-size: $font-xs;
}

a {
  font-family: $secondary-font;
  color: $white;
  text-decoration: none;
}

p > a {
  font-family: $main-font;
  color: $red;
  text-decoration: underline;
}

a:hover {
  color: $red;
}

@include media-breakpoint-up(md) {
  h2 {
    font-size: $font-s;
  }

  h3 {
    font-size: $font-m;
  }
}
@include media-breakpoint-up(lg) {
  p {
    font-size: $font-s;
    font-weight: 200;
  }
}

/* reusable classes */
.h-screen {
  height: 100vh;
}

.h-80 {
  height: 80vh;
}

.block {
  display: block;
}

.text-red {
  color: $red;
}

.text-gray {
  color: $gray;
}

.font-xxs {
  font-size: $font-xs;
}

.font-xs {
  font-size: $font-xs;
}

.font-s {
  font-size: $font-s;
}

.font-m {
  font-size: $font-m;
}

.font-mm {
  font-size: $font-mm;
}

.font-l {
  font-size: $font-l;
}

.font-ll {
  font-size: $font-ll;
}

.font-xl {
  font-size: $font-xl;
}

.main-font {
  font-family: $main-font;
}

.secondary-font {
  font-family: $secondary-font;
}

.display-none {
  display: none;
}

.display {
  display: block;
}
